<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <table border="1">
          <tr>
            <td>Name</td>
            <td><input required type="text" name="txt_name" title="Name Allows Only Alphabets,Spaces and First Letter Must Be Capital Letter" pattern="^[A-Z]+[a-zA-Z ]*$"/></td>

          </tr>
          <tr>
            <tr>
                <td>Contact</td>
                <td><input type="text" required name="txt_contact" pattern="[7-9]{1}[0-9]{9}" 
                  title="Phone number with 7-9 and remaing 9 digit with 0-9"/></td>
              </tr>
              <tr>
            <td>Email</td>
            <td><input type="email" required name="txt_email" /></td>
              </tr>
          <tr>
            <td>Address</td>
            <td><textarea name="txt_address" required></textarea></td>
          </tr>
          <tr>
            <td>Password</td>
            <td><input type="password" name="txt_pswd" id="txt_pswd"></td>
          </tr>
          <tr>
            <td>District</td>
            <td><select name="District" id="District">
                <option>
                    ---SELECT---
                </option>
                {% for i in result %}
                <option value="{{i.id}}">{{i.district_name}}</option>
                {% endfor %}
                

            </select></td>
        </tr>
          
          <tr>
            <td>place</td>
            <td><select name="sel_Place" id="sel_Place">
                <option>
                    ---SELECT---
                </option>
                {% for i in result %}
                <option value="{{i.id}}">{{i.place_name}}</option>
                {% endfor %}
                
            </select></td>
          </tr>
          <tr>
            <td>Photo:</td>
            <td><input type="file" name="user_photo" id="user_photo"></td>
        </tr>
          <tr>
            <td><input type="submit" value="Submit"></td>
            <td><input type="submit" value="Cancel"></td>
          </tr>  
          
            
           </table>
    </form> 
</body>
</html>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script>
    $("#District").change(function () {
        var did = $(this).val();
        var ur = "{% url 'Guest:ajaxplace' %}"
        $.ajax({
            url: ur,
            data: { did: did, },
            success: function (data) {
                $("#sel_Place").html(data);
            },
        });
    });
</script>