<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table border="=1">
        <tr align="center"><th colspan="2"> <td><img src="{{ user.user_photo.url }}" alt="User Photo" style="width: 100px; height: auto;"></td></th></tr>
 <tr>
<td>Name</td>
<td>{{user.user_name}}</td> 
</tr>
<tr>
    <td>Email</td>
    <td>{{user.user_email}}</td> 
    </tr>
    <tr>
        <td>Contact</td>
        <td>{{user.user_contact}}</td> 
        </tr>
        <tr>
            <td>Address</td>
            <td>{{user.user_address}}</td> 
            </tr>
            <tr>
                <td>District</td>
                <td>{{user.place.district.district_name}}</td> 
                </tr>
                <tr>
            <tr>
                <td>Place</td>
                <td>{{user.place.place_name}}</td> 
                </tr>
                <tr align="center">
                    <td colspan="2">
                        <a href="{% url 'User:EditProfile'  %}">Edit Profile</a>
                        <a href="{% url 'User:ChangePassword'  %}">Change Password</a>
                    </td>
                </tr>        
                
    </table>
</body>
</html>