<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body><form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <table border="2">
        
        <tr>
            <th>Name</th>
            <td><input type="text" name="cordinator_name" value="{{a.cordinator_name}}" ></td>
        </tr>
        <tr>
            <th>Email</th>
            <td><input type="text" name="cordinator_email" value="{{a.cordinator_email}}" ></td>
        </tr>
        <tr>
            <th>Contact</th>
            <td><input type="text" name="cordinator_contact" value="{{a.cordinator_contact}}"></td>
        </tr>
        <tr>
            <td colspan="2" align="center"><input type="submit" value="edit"></td>
        </tr>
    
    </table>
</form>

</body>
</html>